/JavaApplication2/nbproject/private/
/webapp/nbproject/private/
/webapp/build/
/shop/nbproject/private/
/shop/build/
/springdemo/nbproject/private/
/springdemo/build/
/ExceptionHandling/nbproject/private/
/ExceptionHandling/build/
/shop/dist/